
$turandot_brown: #985047;
$turandot_cream: #fbfcea;
$turandot_red: #dd3920;
$turandot_beige: #ffbe48;

$aida_black: #31302b;
$aida_yellow: #fcd093;
$aida_orange: #f6a742;

$serif-font-family: 'Fanwood Text', serif;
$sans-font-family: 'PT Sans', sans-serif;

@import url(http://fonts.googleapis.com/css?family=Fanwood+Text:400,400italic|PT+Sans:400,700);
