
$turandot_brown: #985047;
$turandot_cream: #fbfcea;
$turandot_red: #dd3920;
$turandot_beige: #ffbe48;

$aida_black: #31302b;
$aida_yellow: #fcd093;
$aida_orange: #f6a742;

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Crimson+Text:400,700);
