
@mixin vertically-margined($top: 30px, $bottom: 0){  
  margin-top: em-calc($top);
  margin-bottom: em-calc($bottom);
}
@mixin vertically-padded($top: 30px, $bottom: 20px){  
  padding-top: em-calc($top);
  padding-bottom: em-calc($bottom);
}

.main h1 + h2{
  margin-top: 0;
}
  
.breadcrumbs{
  @include vertically-margined(20px, 0);
}

.home{

  text-align: center;
  
  h1{
    font-size: 5em;
  }
}
  
.home h1, article h1{
  margin-bottom: 0;
}

article section:last-of-type{
  @include vertically-margined(0, 20px);
}

#billboard{
  
  $color: $turandot_cream;
  
  margin-bottom: 0;
  position: relative;
    
  .caption{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    background-color: $color;
    opacity: 0.6;
    
    h4{
      text-align: center;
      margin-bottom: 0;
      @include vertically-padded(4px, 4px);
      opacity: 1;
    }
  }
}

.callouts{
  
  background: $aida_yellow;
  @include vertically-margined(0,0);
  @include vertically-padded(30px, 10px);
  
  li{
    text-align: center;
  }
}

#libretto{
  background: $turandot_cream;
  @include vertically-padded();
  @include vertically-margined();
  margin-bottom: 0;
}

.illustration{
  margin-bottom: $topbar-margin-bottom;
}

footer{
  min-height: 150px;
  background: $aida_black;
  
  @include vertically-padded(40px, 30px);

  text-align: center;
  h4, a, a:hover{
    color: white;
  }
  a{
    font-size: 0.8em;
  }
  a:hover{
    text-decoration: underline;
  }
}

.top-bar, footer{
  font-family: $sans-font-family;
}
