.row
  .column
    %ul.small-block-grid-2.medium-block-grid-4.large-block-grid-5
      - items.each do |item|
        %li 
          = link_to build_path(*path_components, item) do
            .panel.radius
              = image_tag item.image_src
              .caption
                %h5= item.name