.row
  .columns
    %ul.small-block-grid-2.large-block-grid-4
      - items.each do |item|
        %li 
          = link_to build_path(*path_components, item) do
            .panel.radius
              = image_tag item.image_src
              .caption
                %h5= item.name