.home{ 'ng-app' => 'app' }

  %section.row
    .columns
      %h1 Access all Arias
      %h2.subheader Exploring the finest tunes in opera
      
  %section{ 'ng-controller' => "BillboardCtrl", 'ng-cloak' => true }
    .row
      .column
        %img{ 'ng-src' => "/images/billboards/{{ billboard.image_src }}" }
        .caption
          %h4 {{ billboard.caption  }}
          
  %aside.callouts#headliners{ 'ng-controller' => "HeadlinersCtrl", 'ng-cloak' => true }
    .row
      .columns
        %ul.small-block-grid-2.medium-block-grid-4.large-block-grid-5
          %li{ 'ng-repeat' => 'headliner in headliners' }
            %a.panel.radius{ 'ng-href' => "{{ headliner.url }}" }
              %img{ 'ng-src' => "{{ headliner.image_src }}" }
              .caption
                %h5 {{ headliner.name }}
          
- content_for :javascripts do
    
  = javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js'
  = javascript_include_tag 'billboard_and_headliners'
    
    
        
